In [26]:
print ('hello world') # Generate "hello world".
print("hello world") # Generate "hello world". The output is the same when single and double quotation marks are carried in input.

hello world
hello world

In [27]:
#string using double qoutes 
print("Hello Huawei")

#multiple line string
print( '''this is the long string 
     this is the second
     the thrid line''')

#when you need to write the string in multiple lines
print("hello " \
      "world"
      )

Hello Huawei
this is the long string
     this is the second
     the thrid line
hello world

In [37]:
print(True+False)# The output is 1. By default, True indicates 1, and False indicates 0.

1

In [36]:
print(True or False)# If True is displayed, enter or or perform the OR operation.

True

In [35]:
print(5//2)# The output is 2, and // is the rounding operator.

2

In [42]:
int(5)/int(2) #no casting for the operation

2.5

In [34]:
print(5/2)# The output is 2.5, and // is the rounding operator.

2.5

In [33]:
print(5%2)# The output is 1, and % is the modulo operator.

1

In [32]:
print(3**2) # The output is 9, and ** indicates the power operation.

9

In [31]:
print(5+1.6) # The output is 6.6. By default, the sum of numbers of different precisions is the number of the highest precision type.

6.6

In [ ]:
#(int, string, and float are in-built data types)

In [1]:
# valid variable name
geeks = 1
Geeks = 2
Ge_e_ks = 5
_geeks = 6
geeks_ = 7
_GEEKS_ = 8

print(geeks, Geeks, Ge_e_ks)
print(_geeks, geeks_, _GEEKS_)

1 2 5
6 7 8

In [2]:
# An integer assignment
age = 45

# A floating point
salary = 1456.8

# A string
name = "John"

print(age)
print(salary)
print(name)

45
1456.8
John

In [3]:
# declaring the var
Number = 100

# display
print( Number)

100

In [4]:
# declaring the var
Number = 100

# display
print("Before declare: ", Number)

# re-declare the var
Number = 120.3
  
print("After re-declare:", Number)

Before declare:  100
After re-declare: 120.3

In [5]:
a = b = c = 10

print(a)
print(b)
print(c)

10
10
10

In [6]:
a, b, c = 1, 20.2, "GeeksforGeeks"

print(a)
print(b)
print(c)

1
20.2
GeeksforGeeks

In [7]:
a = 10
a = "GeeksforGeeks"

print(a)

GeeksforGeeks

In [8]:
a = 10
b = 20
print(a+b)

a = "Geeksfor"
b = "Geeks"
print(a+b)

30
GeeksforGeeks

In [9]:
a = 10
b = "Geeks"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
# This function uses local variable s
def f():
    s = "Welcome geeks"
    print(s)


f()

Welcome geeks

In [11]:
# This function has a variable with
# name same as s
def f():
    print(s)

# Global scope
s = "I love Geeksforgeeks"
f()

I love Geeksforgeeks

In [12]:
x = 15

def change():

    # using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

### Logical operations

In [14]:
a = 10
b = 10
c = -10
if a > 0 and b > 0:
    print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

In [15]:
a = 10
b = 12
c = 0
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

In [16]:
a = 10
b = -10
c = 0
if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")
if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [17]:
a = 10
b = 12
c = 0
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

In [18]:
a = 10

if not a:
    print("Boolean value of a is True")
if not (a % 3 == 0 or a % 5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

In [19]:
result = 5 & 3  # Bitwise AND, result is 1
result

1

In [25]:
result = (5 > 3) and (8 > 5) or (2 < 1)  # Evaluates to True
result

True

In [45]:
################List###########

In [46]:
L1=[1,2,3]#Homogeneous
print(L1)
L1

[1, 2, 3]

[1, 2, 3]

In [47]:
L2=[1,'Hello',23.5,'a']#Heterogeneous
L2

[1, 'Hello', 23.5, 'a']

In [48]:
L3=[]#empty
L3

[]

In [49]:
type(L3)

list

In [50]:
L4=[1,[2,3],4]#2D List
L4

[1, [2, 3], 4]

In [51]:
type(L4)

list

In [52]:
L5=[99,"Bottle of beer",["on","the","wall"]]
L5

[99, 'Bottle of beer', ['on', 'the', 'wall']]

In [53]:
print("element of index 0 is: ",L5[0])

element of index 0 is:  99

In [54]:
print("element of index 0 is: ",L5[1])

element of index 0 is:  Bottle of beer

In [55]:
print("element of index 0 is: ",L5[2])

element of index 0 is:  ['on', 'the', 'wall']

In [56]:
L5[2][0]

'on'

In [57]:
L5[2][1]

'the'

In [58]:
L5[2][2]

'wall'

In [59]:
print("element of index 0 is: ",L5[-1])

element of index 0 is:  ['on', 'the', 'wall']

In [60]:
L5[-1][-1]

'wall'

In [61]:
L5[-3]#L5[0]

99

In [62]:
L5[1][3]

't'

In [63]:
L5[1][-3]

'e'

In [64]:
L5[len(L5)-1]#L5[2],L5[-1]

['on', 'the', 'wall']

In [65]:
L6=[1,2,3,4,5]
L6

[1, 2, 3, 4, 5]

In [66]:
L6[1:2]

[2]

In [67]:
L6[1:3]

[2, 3]

In [68]:
L6[1:]

[2, 3, 4, 5]

In [69]:
L6[:1]

[1]

In [70]:
L6[:-1]

[1, 2, 3, 4]

In [71]:
L6

[1, 2, 3, 4, 5]

In [72]:
L6.append(7)
L6

[1, 2, 3, 4, 5, 7]

In [73]:
x=[1,2,3]
y=[4,5]

In [74]:
x.append(y)
x

[1, 2, 3, [4, 5]]

In [75]:
x=[1,2,3]
y=[4,5]

In [76]:
x.extend(y)
x

[1, 2, 3, 4, 5]

In [77]:
x=[1,2,3]
y=[4,5]

In [78]:
for i in y:
    x.append(i)
print(x)

[1, 2, 3, 4, 5]

In [79]:
x=[1,2,3]
y=[4,5]
x+y

[1, 2, 3, 4, 5]

In [80]:
x=[1,2,3]
x.insert(0,40)#to insert at specific index
x

[40, 1, 2, 3]

In [81]:
x.pop()#to remove the last element in the list
x

[40, 1, 2]

In [82]:
x.pop(1)#to remove the element at index 1 from the list
x

[40, 2]

In [83]:
if len(x)==0 :
    print("Empty List")
else:
    print("Not Empty List")

Not Empty List

In [4]:
x=[1,2,3,4,5,4]
x.reverse()
x

[4, 5, 4, 3, 2, 1]

In [5]:
x.remove(4) # to rmove 4 from the list [the first one]
x

[5, 4, 3, 2, 1]

In [6]:
del(x) # to delete a variable from the memory
x

NameError: name 'x' is not defined

In [11]:
# Python program to demonstrate
# is keyword
 
x = ["a", "b", "c", "d"]
 
y = ["a", "b", "c", "d"]
 
print(x is y)
print(x == y)

False
True

In [17]:
#1
x=[1,2,3,4]
y1=x[:]
y1

[1, 2, 3, 4]

In [18]:
y1 is x # false here means that y1 and x are different places in memory

False

In [19]:
print("y1 is :",y1)
y1[-1]=100
print("y1 is :",y1)
print("x is :",x)

y1 is : [1, 2, 3, 4]
y1 is : [1, 2, 3, 100]
x is : [1, 2, 3, 4]

In [20]:
x=[1,2,3,4]
y=x # here will refer to the same place in memory
y

[1, 2, 3, 4]

In [21]:
y is x # true here confirm on the previous

True

In [22]:
print("y is :",y)
y[-1]=100
print("y is :",y)
print("x is :",x)

y is : [1, 2, 3, 4]
y is : [1, 2, 3, 100]
x is : [1, 2, 3, 100]

In [23]:
#2
x=[1,2,3,4]
y2=list(x)
y2

[1, 2, 3, 4]

In [24]:
x is y2

False

In [21]:
result = [] and "Non-empty"  # Returns []
result

[]

In [23]:
result = [] or "Non-empty"  # Returns "Non-empty"
result

'Non-empty'

In [24]:
result = not []  # Returns True
result

True

In [ ]:
# !, |, & -----------> bitwise operators
#&& , ||  -----------> not valid operators

In [91]:
if True & False:
    print("dsa")

In [42]:
#3
import copy
x=[1,2,3,4]
y3=copy.copy(x)
y3

[1, 2, 3, 4]

In [43]:
y3[0] = -100
y3 , x

([-100, 2, 3, 4], [1, 2, 3, 4])

In [44]:
#3
import copy
x=[1,2,3,4]
y4=copy.deepcopy(x)
y4

[1, 2, 3, 4]

In [45]:
y4[0] = -100
y4 , x

([-100, 2, 3, 4], [1, 2, 3, 4])

In [47]:
x=[1,2,3,[4,5]]
y=copy.copy(x)
y[-1][0]=7
y[0] = 100
print("x is ",x)
print("y is ",y)

x is  [1, 2, 3, [7, 5]]
y is  [100, 2, 3, [7, 5]]

In [49]:
x=[1,2,3,[4,5]]
y=copy.deepcopy(x)
y[-1][0]=7
y[0] = 100
print("x is ",x)
print("y is ",y)

x is  [1, 2, 3, [4, 5]]
y is  [100, 2, 3, [7, 5]]

In [50]:
x=[2,3,4,5]
print("max of x:",max(x))
print("min of x:",min(x))

max of x: 5
min of x: 2

In [51]:
x=[1,2,3,4]
type(x)

list

In [52]:
x[-1]=100
x

[1, 2, 3, 100]

In [ ]:
################Tuple###########

faster than lists
memory efficient than list
can be used as a dictionary keys  because they are immutable
when function return multiple values they tread as a tuple

In [53]:
x=(1,2,3,4)
type(x)

tuple

In [58]:
x[-1]=100

TypeError: 'tuple' object does not support item assignment

In [59]:
x=(1,)
type(x)

tuple

In [60]:
x=(1,2,3,4)
x[:-1]

(1, 2, 3)

In [61]:
x=(1,2,3,4,[6])#we can change the list not the tuple
x

(1, 2, 3, 4, [6])

In [62]:
x[-1][0]=100
x

(1, 2, 3, 4, [100])

In [63]:
x[-1].extend([200,300])
x

(1, 2, 3, 4, [100, 200, 300])

In [ ]:
################Dictionary###########

In [52]:
d1={"name":"ahmed","age":27}
d1

{'name': 'ahmed', 'age': 27}

In [53]:
d1={"name":"ahmed","name":27}
d1

{'name': 27}

In [54]:
d1["name"]

27

In [55]:
d1={1:"ahmed",1.5:27}
d1

{1: 'ahmed', 1.5: 27}

In [56]:
d1[1.5]

27

In [57]:
type(d1)

dict

In [58]:
d1.keys()

dict_keys([1, 1.5])

In [59]:
d1.values()

dict_values(['ahmed', 27])

In [60]:
#first method
d1={'one':1,'two':2,'three':3}
d1

{'one': 1, 'two': 2, 'three': 3}

In [61]:
d1={'one':[1,2,"ahmed"],'two':2,'three':3}
d1

{'one': [1, 2, 'ahmed'], 'two': 2, 'three': 3}

In [62]:
#second method
d2=dict(one=1,two=2,three=3)
d2

{'one': 1, 'two': 2, 'three': 3}

In [63]:
d2=dict(one=[1,2,"ahmed"],two=2,three=3)
d2

{'one': [1, 2, 'ahmed'], 'two': 2, 'three': 3}

In [64]:
#third method
d3=dict([('one',1),('two',2),('three',3)])
d3

{'one': 1, 'two': 2, 'three': 3}

In [65]:
print(zip(['one','two','three'],[1,2,3])) # will return the memory location where zip object stored

<zip object at 0x0000028DA8D5A540>

In [66]:
list(zip(['one','two','three'],[1,2,3]))

[('one', 1), ('two', 2), ('three', 3)]

In [67]:
#fourth method
d4=dict(zip(['one','two','three'],[1,2,3]))
d4

{'one': 1, 'two': 2, 'three': 3}

In [68]:
#fifth method
d5=dict({'one':1,'two':2,'three':3})
d5

{'one': 1, 'two': 2, 'three': 3}

In [69]:
print(d1==d2==d3==d4==d5)

False

### LOOPS

In [71]:
for i in [0,1,2,3]:
    print(i)

0
1
2
3

In [72]:
for i in [100,1,2,3]:
    print(i)

100
1
2
3

In [73]:
for i in ["huawei",3,"nti"]:
    print(i)

huawei
3
nti

In [74]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [76]:
for i in range(4,10,2):
    print(i)

4
6
8

In [77]:
x=[range(10)]
x

[range(0, 10)]

### List Comprehension

newList = [ expression(element) for element in oldList if condition ]

In [82]:
x=[i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
x=[i for i in range(4,10,2)]
x

[4, 6, 8]

In [84]:
x=[i*i for i in range(4,10,2)]
x

[16, 36, 64]

In [85]:
x=[i*j for i,j in [(2,4),(6,8)]]
x

[8, 48]

In [86]:
data=[("Nancy","Engineer",37),("Ahmed","CEO",40),("Farida","hr",27),("Rayan","Accountant",24)]
name=[ [x,y] for x,y,z in data]
name

[['Nancy', 'Engineer'],
 ['Ahmed', 'CEO'],
 ['Farida', 'hr'],
 ['Rayan', 'Accountant']]

In [87]:

data=[("Nancy","Engineer",37),("Ahmed","CEO",40),("Farida","hr",27),("Rayan","Accountant",24)]
Employee={name:job for name,job,Age in data } 
Employee

{'Nancy': 'Engineer', 'Ahmed': 'CEO', 'Farida': 'hr', 'Rayan': 'Accountant'}

In [ ]:
print (Employee["Nancy"])

In [ ]:
#print (Employee["Nanc"])

In [ ]:
print (Employee.get("Nancy"))

In [ ]:
print (Employee.get("Nanc"))

In [ ]:
print (Employee.get("Nanc","Not in my Staff"))

In [ ]:
print (Employee.get("Nancy","Not in my Staff"))

In [ ]:
import copy
emp=Employee.copy()
emp["Rayan"]="Doctor"
print("Employee as dic is ",Employee)
print("emp      as dic is ",emp)

In [ ]:
X=Employee.copy()
X

In [ ]:
X["Rayan"]

In [ ]:
X["Rayan"]="Manager"

In [ ]:
X

In [ ]:
Employee

In [ ]:
Employee.keys()

In [ ]:
Employee.values()

In [ ]:
Employee.items()

In [ ]:
X.clear()
X.items()

In [ ]:
del(X)
X.items()

In [ ]:
################String###########

In [ ]:
s1='String'
print(s1)

In [ ]:
s2="Hello Python"
print(s2)

In [ ]:
s1[-1]

In [ ]:
s1[:-1]

In [ ]:
s1[0:]#s1[:],s1

In [ ]:
s1[2:]

In [ ]:
sss='python 
"Hello World" 
string'
print(sss)

In [ ]:
sss='''python 
"Hello World" 
string'''
print(sss)

In [ ]:
print('this is a long string')

In [ ]:
raw ='www\\SVN_CODE\V900R17C00_TRP\omu\src'
print(raw)

In [ ]:
rawStr = r'www:\\SVN_CODE\V900R17C00_TRP\omu\src'
print(rawStr)

In [ ]:
print("%c" % 98)

In [ ]:
print("%d" % 98)

In [ ]:
print("%i" % 98)

In [ ]:
print("%f" % 98)

In [ ]:
print("%10.3f" % 2.5)

In [ ]:
print("%15.4f" % 2.5)

In [ ]:
s = 'I' + ' '+ 'want'+ ' ' + 'Python' + '.'
print(s)

In [ ]:
ss='I want Python '*3
print(ss)

In [ ]:
del(ss)

In [ ]:
################  If  ###########

In [ ]:
score=input("please enter score : ")
score=float(score)
try :
  if 100 >= score >= 90 :
    print("Excellent")
  elif 90 > score >= 80 :
    print("Very Good")
  elif 80 > score >= 70 :
    print("Good")
  elif 70 > score >= 50 :
    print("Medium")
  else :
    print("Bad")
except Exception:
  print("Enter a correct Score.")

In [ ]:
################ Nested for ###########

In [ ]:
for i in range(1,10):
  for j in range(1,i+1):
    print ("%d * %d = %2d"%(i,j,i*j),end= "   ")
  print()

In [ ]:
################ while ###########

In [ ]:
i=90
while (i<100):
    i+=1
    print(i)

In [ ]:
i=90
while (True):
    i+=1
    if i==100:
        break
    print(i)

In [ ]:
i=90
while (True):
  i+=1
  if i==95 :
    continue
  if i == 100 :
    break
  print(i)

In [ ]:
################ Functions ###########

In [ ]:
x='123'
type(x)

In [ ]:
int('123')

In [ ]:
int(12.36)

In [ ]:
float('123')

In [ ]:
str(12.36)

In [ ]:
str(100)

In [ ]:
bool(0)

In [ ]:
bool('')

In [ ]:
bool([])

In [ ]:
bool("a")

In [ ]:
bool(2)

In [ ]:
bool([2,3])

In [ ]:
abs(-9)

In [ ]:
x=abs

In [ ]:
x(-9)

In [ ]:
def fun1():
    print("Hello Fun1")

In [ ]:
fun1()

In [ ]:
def fun2(x):
    print("Hello Fun2")
    return x*x

In [ ]:
print(fun2(5))

In [ ]:
y=fun2(5)
print(y)

In [ ]:
def fun3(x):
    return x*x ,int(x*x)

In [ ]:
fun3(5.5)

In [ ]:
y,y1=fun3(5.5)
print("y is :",y)
print("y1 is :",y1)

In [ ]:
def fun4():
    pass

In [91]:
def my_abs(x):
    if x>=0:
        return x
    else:
        return -x

In [88]:
my_abs(-9)

9

In [89]:
x=my_abs
x(-9)

9

In [1]:
def my_abs(x):
    pass
    if x>=0:
        return x
    else:
        return -x

In [2]:
try:
    my_abs('122')
except:
    print('Not Valid Datatype')

Not Valid Datatype

In [4]:
def fun1(x,x1=10):
    y=x+x1
    return y

fun1(20)

30

In [5]:
fun1(20,20)

40

In [6]:
fun1(x1=30,x=20)

50

In [7]:
fun1(30,20)

50

In [8]:
def fun1(x,x1=10,*arg):
    y=x+x1
    return y,arg

fun1(20,30,40,50,60)

(50, (40, 50, 60))

In [9]:
def fun1(x,x1=10,*arg):
    y=x+x1
    z=[i*i for i in list(arg)]
    return y,z

fun1(20,30,40,50,60)

(50, [1600, 2500, 3600])

In [10]:
fun1(20,30,40,50,60,10)

(50, [1600, 2500, 3600, 100])

In [12]:
def fun1(x,x1=10,*arg,**k):
    y=x+x1
    z=[i*i for i in list(arg)]
    return y,z,k

fun1(20,30,40,50,60,age=30,sal=3000)

(50, [1600, 2500, 3600], {'age': 30, 'sal': 3000})

In [13]:
d={1:39,"a":40}
d

{1: 39, 'a': 40}

In [14]:
fun1(20,30,40,50,60,name="ahmed",age=30)

(50, [1600, 2500, 3600], {'name': 'ahmed', 'age': 30})

In [18]:
fun1(20,30,40,50,60,name=["ahmed",10],age=30)

(50, [1600, 2500, 3600], {'name': ['ahmed', 10], 'age': 30})

In [23]:
def fact(n):
    return fact_iter(n,1)
def fact_iter(num,prod):
    if num == 1 :
        return prod
    return fact_iter(num-1,num * prod)

In [24]:
fact(3)

6

In [25]:
x=[1,2,3]
type(x)
x

[1, 2, 3]

In [26]:
x=tuple(x)
x

(1, 2, 3)

In [27]:
x="nti"
x

'nti'

In [28]:
x.upper()

'NTI'

In [29]:
class my_class():
    def init():
        pass
    def get_name():
        pass
    def set_name():
        pass

In [30]:
a=my_class()

In [1]:
class my_class():
    def init(self,x):
        print(x)
    def get_name():
        pass
    def set_name():
        pass

In [2]:
a=my_class()
a.init(10)

10

In [13]:
class my_class():
    var1=200
    __var2=100
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def get_name(self):
        return self.name,self.age
    def set_name(self,name):
        self.name=name

In [14]:
a=my_class("Nancy",30)
b=my_class("Rayan",20)

In [15]:
print(a.get_name())

('Nancy', 30)

In [16]:
print(b.get_name())

('Rayan', 20)

In [17]:
a.set_name("Farida")
print(a.get_name())

('Farida', 30)

In [18]:
print(a.var1)

200

In [19]:
print(a.__var2)

AttributeError: 'my_class' object has no attribute '__var2'

In [20]:
import time as t
from time import sleep
from time import *

In [21]:
for i in range(10):
  sleep(0.5)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
import calendar as cal
print(cal.month(2021,8))

    August 2021
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [23]:
print(cal.prcal(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31
None

In [1]:
import time
# Format into 2016-03-20 11:45:39
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

2021-08-09 23:27:39

In [4]:
import re
print(re.match('www', 'www.google.com').span())

(0, 3)

In [7]:
print(re.match('www', 'awww.google.com'))

None

In [10]:
print(re.search('com', 'www.com.google.com').span())

(4, 7)

In [11]:
s,d=re.search('com', 'www.com.google.com').span()

In [13]:
d

7

In [16]:
sentence='Start a sentence and then bring it to end'
pattern=re.compile(r'start',re.I)
matches=pattern.search(sentence)
print(matches)
print(matches.span())
print(matches.group())

<re.Match object; span=(0, 5), match='Start'>
(0, 5)
Start

In [3]:
str1 = input("Please input:") 
print("Your input is:", str1)

Please input:4
Your input is: 4

In [4]:
type(str1)

str

In [7]:
fo=open("E:\\foo.txt","w")
fo.name

'E:\\foo.txt'

In [8]:
fo.close()

In [1]:
fo=open("E:\\fooo.txt","w")
fo.name

'E:\\fooo.txt'

In [2]:
fo.closed

False

In [3]:
fo.close()

In [4]:
fo.closed

True

In [9]:
fo=open("E:\\fooo.txt","w")
for i in range(100):
    fo.write("www.google.com ! \t very good search end ! \n ")
fo.close()

In [12]:
fo=open("E:\\fooo.txt","w")
for i in range(5):
    fo.write("Hello ! \t World! \n ")
fo.close()

In [13]:
fo=open("E:\\fooo.txt","r")

str1=fo.read()
print(str1)
fo.close()

Hello ! 	 World!
 Hello ! 	 World!
 Hello ! 	 World!
 Hello ! 	 World!
 Hello ! 	 World!

In [17]:
fo=open("E:\\fooo.txt","r")

str1=fo.readlines(2)
print(str1)
fo.close()

['Hello ! \t World! \n']

In [18]:
import os

In [20]:
os.remove("E:\\test.txt")